.forgotPasswordModal {
  width: 100%;
  position: relative;

  .forgotPasswordHeader {
    font-size: 22px;
    margin: 16px 0px 20px 0px;
  }

  .backToSignInLink {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
  }
}
