.shoppingCart {
  position: absolute;
  cursor: pointer;
  color: #000;
  top: 16px;
  right: 10px;
  text-decoration: none;

  .itemsCount {
    font-size: 22px;
    position: absolute;
    left: 24px;
    letter-spacing: -1px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }
}
