.header {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 16px 0px 0px 0px;

  .logo {
    height: 80px;
    width: auto;
    position: absolute;
    left: 16px;
    top: 0px;
  }

  .signIn {
    position: absolute;
    top: 32px;
    right: 80px;
    cursor: pointer;
    font-size: 18px;
  }
}
