.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5000;

  .modal {
    width: 600px;
    height: auto;
    padding: 20px;
    border-radius: 4px;
    position: relative;

    .closeX {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}
